<nav class="navbar">
  <a class="navbar" href="#">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSpRzzkLZi9LzcwdRT9ShsEa4XpmFCdri7I4GFhcl3myeCJdHDH" width="40" height="40">
      <h1 class="titulo"> TV Series</h1>
  </a>
</nav>
<div class="container-fluid">
  <div class="row">
      <div id="iz" class="col">
          <div id="Divo" class="w-50 p-4">
              <table class="table table-striped" id="eTabla">
                  <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Channel</th>
                      <th>Seasons</th>
                  </tr>
                  <tr *ngFor="let serie of listaSeries">
                      <th>{{serie.id}}</th>
                      <th>{{serie.title}}</th>
                      <th>{{serie.channel}}</th>
                      <th>{{serie.seasons}}</th>
                  </tr>
              </table>
              <p>Seasons average: {{promedio()}}</p>
          </div>
      </div>
  </div>
</div>
